*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana;
}
.navbar-container{
	background-color: #0A192F;
	color: #CCD6F6;
	width: 2000px;
	height: 70px;
	position: fixed;
}
.logo{
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 35px;
}
.navbar{
	margin-left: 650px;
	padding-top: 25px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin-right: 50px;
}
.navbar ul li a{
	text-decoration: none;
	color: #CCD6F6;
}
.navbar ul li a:hover{
	color: lightskyblue;
	font-style: italic;
}
.background{
	background-color:#F7F3E9;
	height: 600px;
	text-align: center;
	color: #1B3022;
}
.background img {
	border-radius: 500px;
	height: 200px;
	border: 6px solid white;
	margin-top: 130px;
}
.background h2{
	margin-top: 18px;
}
.background h3{
	margin-top: 5px;
}
.background p{
	margin-top: 5px;
}
.background button{
	margin-top: 8px;
	padding: 8px;
	width: 400px;
	border-radius: 50px;
}
.background button:hover{
	background-color: #F7F3E9;
	border: 1px solid black;
	color: #1B3022;
}
.about{
	padding-top: 20px;
	text-align: center;
	background-color: #F7F3F9;
	border-radius: 30px;
	margin-left: 30px;
	margin-right: 10px;
	width: 800px;
	height: 300px;
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 20px;
}
.about:hover{
	background-color: #FFE6CD;
	coloe: white;
}
.saya img{
	border-radius: 15px;
	margin-right: 550px;
	margin-top: -300px;
}
.saya p{
	margin-top: 20px;
	text-align:  center;
	line-height: 1.5;
	width: 60%;
	margin-left: 265px;
}
.box-pendidikan h2{
	text-align: Center;
	color: #1B3022;
	margin-top: 30px;
	align-content: center;
	background-color: #CED1F8;
	width: 1264px;
	height: 50px;
	
}
.box-kiri, .box-tengah, .box-kanan{
	width: 300px;
	height: 300px;
	background-color: #f0f0f0;
	text-align: center;
	padding-top: 30px;
	padding-right: 10px;
	margin: 70px 20px 20px 55px;
	border-radius: 11px;
	float: left;
	margin-left: 80px;
}
.box-kiri:hover, .box-tengah:hover, .box-kanan:hover{
	background-color: #E2CEB1;
	coloe: white;
}
.box-kiri img, .box-tengah img, .box-kanan img{
	border-radius: 500px;
	height:100px;
	border: 6px solid cream;
}
.box-pendidikan h3, .p{
	margin-top: 10px;
	margin-bottom: 10px;
	padding:0px 20px;
}
.contact{
	text-align: center;
	margin-top: 450px;
}
.contact img{
	margin-top: 50px;
	margin-bottom: 40px;
}
.contact h3{
	margin-bottom: 40px;
}

